html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.sidenav1 {
  margin-left: 80px;
  overflow-y: hidden;
  transition: 0.5s;
  text-align:center;
}

.sidenav1 img{
  width: 180px;
}

.icon{
  width: 25px;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav1 a:hover{
  color: #f1f1f1;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.textshadow.blurry-text {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.75);
}

img{
  margin: auto;
  display: block;
  width: 58px;
  padding-top: 6px;
}

a { 
  cursor: pointer; 
}

* {
  box-sizing: border-box;
}

.sitename{
  margin-left: 105px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: #a7a9ac;
  font-size: 14px;
  padding: 18px 5px 0 5px;
}

.logintextbox{
  padding: 20px 30px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  opacity: .5;
}

.alertmessages{
  font-family: roboto, sans-serif;
  font-size: 22px;
  color: red;
  text-align: center;
  font-weight: 700;
}

input.textBox {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 350px;
  font-size: 15px;
  font-family: Verdana;
  line-height: 30px;
  display:inline-block; 
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  vertical-align:middle;
}

label.inputLabel {
  font-family: Verdana;
  font-size: 15px;
  line-height: 30px;
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.blankspace{
  padding: 1rem;
}


.column {
  display: inline-block;
  padding: 10px;
}

.zoom {
  transition-property: width;
  animation-delay: .5s;
  animation: .5s ease-out zoomin;
  width: 120px;
}

@keyframes zoomin {
  0% {
    opacity:0;
    width:0px;
  }
  50%{
  opacity:.5;
  }
  100% {
  opacity:1;
    width:120px;
  }  
}

.landing-page hr{
  margin: 0 30px 30px 30px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  float: right;
  right: -120px;
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
  background-color: rgba(0, 0, 0, .85);
}

.container {
  position: relative;
}

.text {
  text-decoration: underline;
  font-size: 16px;
}

.landing-page .mainheadertext{
  color: #000000;
  transition: marginLeft 1s ease;
  font-style:normal;
  font-weight:400;
  font-size:3em;
  height: 100%;
  background-color: #f1f1f1;
  padding: 30px;
}

.landing-page .headertext{
  font-family:"titular",sans-serif;
  font-size:92px;
  font-weight:700;
  transition: marginLeft 1s ease;
}

.landing-page .subheadertext{
  font-family:roboto, sans-serif;
  font-size:36px;
  font-weight:100;
  padding-top: 5px;
}

.mainheadertext img{
  width: 20%;
  position: absolute;
  margin: 0;
  right: 0;
  z-index: 1;
  top: -100px;
}

.landing-page .blocksheader{
  font-family:roboto, sans-serif;
  width: 160px;
  color:#00a9cf;
  display: inline-block;
  padding: 10px;
}

#app{
  height:100%;
}

.siteContainer {
  height: 100%;
}

.logo{
  color: white;
  text-align: center;
  padding: 8px 0 15px 0;
  font-size: 24px;
  font-weight: bold;
  font-family: "titular",sans-serif;
}

.loginpage{
  background-color: lightseagreen;
  text-align:center;
  position: relative;
  animation-duration: 32s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.loginpage img{
  width: 250px;
  padding:30px;
}

.loginform{
  display: table;
  margin: auto;
  padding: 15px;
}

.logindiv{
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}


.aligningleft input[type="text"]::placeholder {
  opacity: .4;
  color: white;
}
.aligningleft input[type="text"]::placeholder {
  opacity: .4;
  color: white;
}

.aligningleft input[type="text"]:focus::-webkit-input-placeholder {
  opacity: .4;
  color: black;
}

.loginform, .aligningleft input[type="text"]:focus:-ms-input-placeholder {
  opacity: .4;
  color: black;
}

.logintextbox input[type="text"]:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms linear-out;
  background-color: darkolivegreen;
  color: whitesmoke;
  opacity: 1;
}

.logintextbox input[type="password"]:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms linear-out;
  background-color: darkolivegreen;
  color: whitesmoke;
  opacity: 1;
}

.loginform input[type="password"]:focus::-webkit-input-placeholder {
  opacity: .4;
  color: black;
}

.loginform input[type="password"]:focus::-moz-placeholder {
  opacity: .4;
  color: black;
}

.loginform input[type="password"]:focus:-ms-input-placeholder {
  opacity: .4;
  color: black;
}

.loginform input[type="password"]::placeholder {
  opacity: .4;
  color: white;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill {
-webkit-text-fill-color: white;
-webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
box-shadow: 0 0 0px 1000px #000 inset !important;
transition: background-color 5000s linear-in-out 0s;
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus {
-webkit-text-fill-color: darkslategray;
-webkit-box-shadow: 0 0 0px 1000px #FFF inset !important;
box-shadow: 0 0 0px 1000px #FFF inset !important;
transition: background-color 5000s linear-in-out 0s;
}

.button {
  color:whitesmoke;
  padding: 10px 50px;
  text-align: center;
  font-size: 18px;
  border: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  background-color: blue;
  animation-duration: 32s;
  animation-iteration-count: infinite;
  cursor: pointer;
}


.loginheader {
  font-weight: bold;
  font-size: 36px;
}

.animation-box {
  position: relative;
  -webkit-animation-name: fadeeffect; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: fadeeffect;
  animation-duration: 1.25s;
  animation-delay: 0s;

}

@-webkit-keyframes fadeeffect {
  0%   {top:30px; opacity: 0;}
  40%  {opacity: 0.3;}
  70%  {top:0px; opacity: 1;}
}

@keyframes fadeeffect {
  0%   {top:30px;   opacity: 0;}
 70%  {top:0px; opacity: 1;}
}

.hamicon{
  cursor:pointer
}

.header{
  width: 100%; 
  position: fixed; 
  z-index: 1; 
  background-color: white;
  padding-left:75px;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: inline-block;
  width: 66px !important;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  height: 5vh;
}

hr {
  border: 0;
  border-top: 1px solid #373737;
  margin: 0 10px 0;
}

.has-subnav{
     /* To correctly align image, regardless of content height: */
     vertical-align: top;
     /* To horizontally center images and caption */
     text-align: center;
}

.main-menu {
  background:#212121;
  /*border-right:1px solid #e5e5e5;*/
  position:fixed;
  top:0px;
  bottom:0;
  left:0px;
  width:80px;
  overflow:hidden;
  -webkit-transition:left .3s linear;
  transition:left .3s linear;
  z-index:1;
}

.main-menu:hover {
  background:#212121;
  /*border-right:1px solid #e5e5e5;*/
  position:fixed;
  top:0px;
  bottom:0;
  left:0px;
  width:80px;
  overflow:hidden;
  -webkit-transition:left .3s linear;
  transition:left .3s linear;
  z-index:1;
}

.main-menu > ul > li > a {
  display: block;
  padding: 3px 0 12px 0;
}

.main-menu > ul > li .active {
  background-color: #3F3C40;
}

.main-menu>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-menu li {
  position:relative;
  display:block;
}

.main-menu li>a {
  position:relative;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: "titular",sans-serif;
  font-size: 18px;
  text-decoration:none;
}

.main-menu .nav-text {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  text-align: center;
  font-family: "titular",sans-serif;
}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}

.main-menu li:hover{
  color:#fff;
  background-color:#373737;
}

.main-menu > ul li.spaceholder:hover {
  background-color: #212121;
}

.leftNavOpen {
  left: 180px !important;
}

.leftsidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -180px;
  background-color: #111;
  overflow-x: hidden;    
  -webkit-transition:left .3s linear;
  transition:left .3s linear;
}

.rightsidenav ul{
  padding: 0px;
  list-style: none;
  margin:0px;
}

.rightsidenav hr{
  margin: 0px;
}

.rightsidenav li:hover{
  color:#fff;
  background-color:#373737;
}

.rightsidenav li li:hover{
  color:#fff;
  background-color:#606066;
}

.heading{
  background-color:#208336;
  color:#ffffff;
  font-size: 92px;
  height: 135px;
  vertical-align: middle;
  font-family: "titular",sans-serif;
  font-weight: bold;
}

.k-detail-row .k-alt .k-hierarchy-cell{
  border-right: 5px solid rgb(67, 176, 42)
}

.customcell{
  display: table-cell;
  border-width: 0 0 0 1px;
  border-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}

.heading span{
  vertical-align: middle;
}

.rightsidenav ul li{
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 60px;
  transition : top 3s ease;
}

.rightsidenav ul li ul li{
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.rightsidenav span, .rightsidenav a{
  padding: 15px;

}

.active {
  color: white;
}

.notfav{
  position: relative;
}


.list img{
  width: 100%;
  padding: 0px;
}

.rightsidenav {
  height: 100%;
  width: 240px;
  position: relative;
  float: left;
  z-index: 1;
  top: 0;
  left: 80px;
  background-color: #4c4c52;
  -webkit-transition:left .3s ease;
  transition:left .3s ease;
}

.rightsidenav .downarrow{
  bottom: 0px;
  left: 80px;
  position: absolute;
}

.rightsidenav .uparrow{
  top: 140px;
  left: 80px;
  position: absolute;
}

.leftsidenav hr{
  border: 0;
  border-top: 1px solid #767476;
  margin:0px;
}

.leftsidenav a{
  padding: 15px 8px 15px 8px;
  text-decoration: none;
  font-size: .9em;
  color: #818181;
  display: block;
  transition:left .7s;
  animation-duration: 2s;
}

.leftsidenav ul{
  list-style-type: none;
}

.leftsidenav ul li {
  text-align: center;
  padding: 15px;
}

.searchbox{
  padding: 25px 20px  0 20px;
  text-align: center
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: 0px;opacity:1}
  to {top: 20px;opacity:0}
}

/* Standard syntax */
@keyframes mymove {
  from {top: 0px;opacity:1}
  to {top: 20px;opacity:0}
}

.fadein {
 -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
 animation-name: fadein;
 animation-duration: 1.5s;

}

.fadeout {
  -webkit-animation-name: fadeout; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: fadeout;
  animation-duration: 5s;

}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear-in;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
/* Standard syntax */
@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Standard syntax */
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.leftsidenav a:hover {
  color: #f1f1f1;
}

.leftsidenav ul{
  list-style-type:none;
  padding:0;
  margin:0;
}

.leftsidenav ul li:hover{
  background-color: black;
}

.leftsidenav span{
  font-size: 0.9em;
}

.area {
  padding:15px;
  position: relative;
  background: white;
  -webkit-transition:width .3s ease;
  transition:margin-left .3s ease;
  margin-left:80px;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
  box-shadow: 0px 0px;
  border-radius: 4px;
  transition-duration: .2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoveright {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes mymoveright {
  from {left: -100px;}
  to {left: 0px; background-color : white;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoveup {
  from {bottom: -100px;}
  to {bottom: 0px;}
}

@keyframes mymoveup {
  from {bottom: -100px;}
  to {bottom: 0px;}
}

@-webkit-keyframes mymovedown {
  from {top: -100px;}
  to {top: 0px;}
}

@keyframes mymovedown {
  from {top: -100px;}
  to {top: 0px;}
}

@-webkit-keyframes mymoveleft {
  from {right: -100px;}
  to {right: 0px;}
}

@keyframes mymoveleft {
  from {right: -100px;}
  to {right: 0px;}
}

.pageheader{
  display: inline-block;
  color: black;
  margin-left: 95px;
  font-size: 4em;
  padding:15px;
  padding-bottom: 0;
  -webkit-transition:width .3s ease;
  transition:margin-left .3s ease;
  font-family: "titular",sans-serif;
  font-weight: bolder;
}

.row{
  width: 100%;
  padding: 15px 0 15px 0;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.quarter{
  width: 33.3%; 
  padding: 15px;
  float: left;
  box-sizing: border-box;
}

.half{
  width: 49.9%; 
  padding: 15px;
  float:left;         
  box-sizing: border-box;   
}

.col-container {
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 16px;
}

.childicon{
  display: inline-block; 
  font-size: 3em; 
  color:#f04f25;
  width: 40px;
}

.usersicon{
  display: inline-block; 
  font-size: 3em; 
  color: rebeccapurple;
  width: 70px;
}

.dollaricon{
  display: inline-block; 
  font-size: 3em; 
  color:#5c9e40;
}

.full{
  padding: 15px;
}

.menuicon{
  display:none;
  text-align:center;
  font-family: "titular",sans-serif;
  font-size: 40px;
  padding:20px
}

.mobilemenuicon{
  display:none;
  text-align:center;
  font-family: "titular",sans-serif;
  font-size: 40px;
  padding:20px
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition:width .3s ease;
  transition:width .3s ease;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: "titular",sans-serif;
}

.mobilemenuicon{
  display:none;
}

.menuicon{
  display:block;
}

.half ul{
  list-style-type: circle;
}

.half ul li{
  padding: 10px;
}

.area .half ul li{
  text-align: left;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.landing-page {
  -webkit-transition:width .3s ease;
  transition:margin-left .3s ease;
  margin-left:80px;
}

.landing-page .row{
  padding: 0px;
}

/* media queries for mobile */

@media (max-width: 1256px) { 
  .quarter{
      width: 100%; 
      display: inline-block; 
      box-sizing: border-box;
  }
  .area .quarter{
      padding-bottom: 40px;
  }

  .half{
      width: 100%; 
      display: inline-block; 
      box-sizing: border-box;
  }

  .logo {
      color: white;
      text-align: center;
      padding: 8px 0 15px 0;
      font-size: 28px;
      font-family: "titular",sans-serif;
  }

  input, select, textarea{
      color: black;
  }

  .count{
      font-size: 18px;
      margin: 0;
  }

  .button:hover {
      background-color: green;
      color: #28282b ;
  }

  .custombutton {
      color: white;
      padding: 10px 36px;
      text-align: center;
    
  }
  
  .landing-page .headertext{
      font-size: 1.50em;
  }
  
  .landing-page .blocksheader{
      font-size:18px;
  }
  
  .landing-page .blockcount{
      font-size: 82px;
  }

  .dashboard-page .headertext{
      font-size: 1.50em;
  }
  
  .dashboard-page .blocksheader{
      font-size:18px;
  }
  
  .dashboard-page .blockcount{
      font-size: 82px;
  }

  .footermenu .footeroptions{
      font-size: 18px;
  }

  .zoom {
      transition-property: width;
      animation-delay: .5s;
      animation: .5s ease-out zoomin;
      width: 80px;
  }
  
  @keyframes zoomin {
      0% {
        opacity:0;
        width:0px;
      }
      50%{
      opacity:.5;
      }
      100% {
      opacity:1;
        width:80px;
        padding-bottom: 30px;
      }
  }
}

@media (min-width: 1256px) and (min-height: 730px){ 
 
  .stickbottom1{
      position: fixed;
      bottom: 50px;
      width: 100%;
  }
}


@media (max-width:1100px) {
  .column{
      width: calc(100%/6);
  }

  .landing-page .subheadertext{
      font-size: 32px;
  }

  .landing-page .blockcount{
      vertical-align: top;
      font-size: 76px;
  }

  .landing-page .blocksheader{
      width: 160px;
      font-size:16px;
  }

  .landing-page .headertext span{
      display: block;
      font-size: 100px;
  }

  .mainheadertext img{
      top: -220px;
      width: 200px;
  }

  .landing-page .contactname{
      font-size: 24px;
  }

  .landing-page .contactinfo{
      font-size: 24px;
  }

  .footerlogo{
      width: 100%;
  }

  .footerlogo img{
      width: 70%;
      margin: 0 auto;
  }

  .copyrights {
      float: none;
      color: #58585a;
      font-size: 12px;
      font-weight: 600;
      display: block;
      text-align: center;
      font-family: roboto, sans-serif;
  }

}

@media (min-width: 1024px) and (min-height: 730px){ 

  .stickbottom2{
      position: fixed;
      bottom: 60px;
      width: 100%;
      padding-right: 125px;
  }

  .stickbottom3{
      position: fixed;
      bottom: 40px;
      width: 100%;
      padding-right: 125px;
  }
}

@media (max-width:1000px){

  .labelcolumns{
      margin-left: 20%;
  }

  .landing-page .headertext{
      font-size: 1.25em;
  }

  .landing-page .subheadertext{
      font-size: 24px
  }
}

@media (max-width:850px){
  .labelcolumns, passwordcolumns{
      width: 100%;
      margin-left: 0;
  }

  .rightsidenav{
      width: 100%;
      left: 0px;
  }

  .rightsidenav .list{
      padding-left: 80px;
  }

  .rightsidenav .heading{
      padding-left: 80px;
  }

  .rightsidenav .list h2{
      margin: 5px 0px 10px 0px;
  }
}

@media (max-width:800px){
 
  .mainheadertext img{
      top: -190px;
      width: 180px;
      position: absolute;
      right: 0;
  }

  .landing-page .headertext span{
      font-size: 80px;
  }

  .landing-page .blockcount{
      font-size: 74px;
      display: block;
      text-align: center;
  }

  .landing-page .blocksheader{
      font-size: 16px;
      display: block;
      text-align: center;
  }

  .landing-page .headertext{
      font-size: 1.25em;
      word-break: keep-all;
  }
}
@media (max-width:707px){
  .landing-page .slash{
      display: none;
  }
  .landing-page .blockcount{
      display: table-cell;
      text-align: left;
      font-size: 140px;
      padding: 5px;
  }
  .landing-page .blocksheader{
      display: table-cell;
      text-align: left;
      font-size: 26px;
      width: 100%;
      vertical-align: middle;
      position: relative;
      bottom: -15px;
  }

}
@media (max-width:700px){
  .labelcolumns, button{
      width: 100%;
      margin-top: 0;
  }
}

@media (max-width:665px){
}

@media (max-width:640px){
  .mainheadertext img{
      top: -160px;
      width: 150px;
  }
  .landing-page .headertext span {
      font-size: 65px;
  }
}

@media (max-width:595px){
}

@media (max-width:530px){
  .landing-page .headertext span {
      font-size: 60px;
  }
  .mainheadertext img{
      width: 160px;
  }
}
 
@media screen and (max-width: 500px) {

  .main-menu {
      left: -70px;
  }

  .pageheader{
      display: block;
  }

  .sitename{
      margin-left: 35px;
  }

  .landing-page {
      margin-left: 15px;
  }

  .main-menu a div {
      font-size: 0;
  }

  .main-menu .logo {
      display: none;
  }

  .main-menu > ul > li > a{
   padding: 12px 15px 12px 10px;
  }

  .icon {
      display: none;
  }

  .area{
      margin-left: 15px;
  }
  
  .loginpage img {
      width: 250px;
      padding: 30px;
  }

  .mobilemenuicon{
      display:block;
      font-size: 2em;
  }

  .menuicon{
      display:none;
  }

  .pageheader{
      margin: 0px 25px 0 25px;
      padding-bottom: 0;
  }

  .rightsidenav .list {
      padding-left: 15px;
  }
}

@media (max-width:475px){
  .landing-page .subheadertext{
      font-size: 20px;
  }
  .landing-page .headertext span {
      font-size: 50px;
  }
}

@media (max-width:420px){
  .landing-page .blockcount{
      font-size: 100px;
  }
  .landing-page .blocksheader{
      font-size: 22px;
  }

  .footermenu .footeroptions{
      font-size: 14px;
  }    

  .landing-page .headertext span{
      font-size: 50px;
  }

  .mainheadertext img{
      width: 120px;
      top: -130px;
  }
}

@media (max-width:375px){

  .landing-page .headertext span{
      font-size: 40px;
  }

  .mainheadertext img{
      top: -110px;
      right: -25px;
  }

  .landing-page .subheadertext{
      font-size: 20px;
      padding-top: 15px;
  }
  
  .landing-page .subheadertext{
      font-size: 16px;
  }

  .landing-page .headertext span{
      font-size: 40px;
  }

  .mainheadertext img{
      width: 90px;
      top: -110px;
  }
}

@media (max-width:340px){
  .landing-page .blockcount{
      font-size: 80px;
  }
  .landing-page .blocksheader{
      font-size: 18px;
  }
}